<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/nurse_dashboard/nurse_prev_vitals.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <%- include('partials/nurse_dashboard_nav') %>

<div style="padding: 2%">

	<h3>Here is a record of vitals taken previously: </h3>
  <hr>
  <table class="table">
    <tr>
    <th scope="col">Date</th>
    <th scope="col">Body Temperature</th>
    <th scope="col">Heart Rate</th>
    <th scope="col">Blood Pressure</th>
    <th scope="col">Respiratory Rate</th>
    </tr>

    <% vitals.forEach(function(vital) { %>
      <tr scope="row">
        <td><%= vital.created %></td>  
        <td><%= vital.bodyTemperature %></td>  
        <td><%= vital.heartRate %></td>
        <td><%= vital.bloodPressure %></td>   
        <td><%= vital.respitoryRate %></td> 
      </tr> 
    <% }); %>
  </table>
</div>

</body>
</html>