<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/nurse_dashboard/nurse_prev_vitals.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <%- include('partials/nurse_dashboard_nav') %>

<div style="padding: 2%">

	<h3>Here is a record of vitals taken previously: </h3>
	<hr>
  <ul>
    <% vitals.forEach(function(vital) { %>
        <li><%= vital.bodyTemperature %> <%= vital.heartRate %> <%= vital.bloodPressure %> <%= vital.respitoryRate %></li>
    <% }); %>
</ul>
  
</div>

</body>
</html>