<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="css/nurse_dashboard/nurse_dashboard.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <%- include('partials/nurse_dashboard_nav') %>

<div style="padding: 2%">
  <h2>Nurse Dashboard</h2>
  <h3>Here are the Patients: </h3>
  <ul>
    <% patients.forEach(function(patient) { %>
        <li><%= patient.username %> | <%= patient.firstName %> <%= patient.lastName %></li>
    <% }); %>
</ul>


  <% patients.forEach(function (patient) { %>
    <%= patient.name %> 
  <% }) %>

  
</div>

</body>
</html>